fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-dotenv
pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator

openai

PyPDF2
python-docx
PyMuPDF

pillow
pytesseract

qdrant-client
sentence-transformers

numpy
scikit-learn

httpx
requests

aiofiles
gunicorn
jinja2
celery
redis
python-dateutil
unstructured
pdfplumber
tenacity
ocrmypdf
pdf2image
pytest